/* layout */
@media (orientation: portrait), (max-width: 850px) {
	/* General */
	.s-flex {
		display: flex;
	}

	.s-column {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.s-column-r {
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	/* Intro */
	#intro {
		padding: 5vw 5vw; 
	}

	/* Title */
	#title #infas {
		line-height: 1.25em;
	}

	#title #cfpb {
		line-height: 2em;
	}

	#title #theme {
		line-height: 2em;
	}

	/* Paper & Booth */
	#paper {
		padding: 3vw;
		margin: 0 3vw 4vw 3vw;
	}

	#paper .title {
		margin-top: 2vw;
	}
}

@media (orientation: portrait) {
	/* General */
	.p-flex {
		display: flex;
	}

	.p-column {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.p-column-r {
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	/* Title */
	#title {
		height: 100vh;
		background-position: top;
	}

	#title #logo{
		margin: 0;
	}

	#title>.wrap>.text {
		text-align: center;
		margin-top: 5vw;
	}

	#title #infas {
		margin: 0;
	}
}

@media (orientation: landscape) and (max-width: 850px) {
	/* Title */
	#title {
		height: 100vh;
		min-height: auto;
		max-height: none;
	}

	#title #logo {
		max-width: 30vw;
		max-height: 30vw;
	}
}

/* font size */
@media (min-width: 1200px) {
	body {
		font-size: 14pt;
	}
}

@media (max-width: 850px) {
	body {
		font-size: 2.2vw;
	}

	.description{
		letter-spacing: .05ch;
	}

	br.s-show{
		display: initial;
	}
}

@media (max-width: 480px) {
	body {
		font-size: 4vw;
	}

	#intro #slogan {
		font-size: 1.2em;
	}

	#intro .subtitle {
		font-size: 1.6em;
	}
}