@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* Fonts */
body {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	color: #3C3C3C;
	background-color: #EEEEEE;
}

/* General */
.section {
	position: relative;
	padding: 1.5em 10%;
	margin: 0 0 0 calc(5% - .6em);
	border-left: solid .6em #6EC09E;
}

.title{
	text-align: center;
	font-size: 2em;
	font-weight: 500;
	margin: .5em 0;
}

.title::after {
	content: '';
	display: block;
	width: 20vw;
	height: .2vw;
	margin: 1vw auto;
	background-color: #3C3C3C;
}

.subtitle {
	text-align: center;
	font-size: 2em;
	margin-top: 1em;
	font-weight: 400;
}

/* Intro */
#intro {
	background-color: #49514D;
	width:100vw;
	margin: 0;
	height: 80vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

#intro-logo {
	width: 30vw;
	height: 30vh;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
}
#intro-logo > img {
	max-width: 30vw;
	max-height: 30vh;
}

#intro-text {
	text-align:center;
	margin: 0 auto;
	width: 100%;
	font-size: 30px;
	color: white;
}

@media screen and (max-width: 700px) {
	#intro {
		height: 100vh;
	}
	#intro-logo {
		width: 90vw;
		height: 50vh;
	}
	#intro-logo > img {
		max-width: 90vw;
		max-height: 50vh;
	}
}
@media screen and (max-width: 1400px) and (min-width: 700px) {
	#intro {
		height: 90vh;
	}
	#intro-logo {
		width: 60vw;
		height: 50vh;
	}
	#intro-logo > img {
		max-width: 60vw;
		max-height: 50vh;
	}
}


/* Title */
#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 4em;
	z-index: 1000;
	background-color: #FFFFFF;
}

#logo {
	margin: .5em 0 .5em calc(5% - .6em);
	border-left: solid .6em #6EC09E;
}

#logo>span {
	font-size: 4em;
	line-height: .67em;
	font-weight: 700;
	margin: 0 .1ch;
	color: #6EC09E;
}

#nav-group {
	width: 100%;
}

#nav-group>.nav {
	font-size: 1.25em;
	font-weight: 400;
	display: flex;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
	-webkit-align-items: center;
	    -ms-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-justify-content: center;
	        justify-content: center;
	transition: background-color 200ms;
}

#nav-group>.nav:hover {
	background-color: rgba(0,0,0,.2)
}

/* Topic */
#topic {
}

#slogan {
	text-align: center;
	font-style: italic;
	font-size: 1.4em;
	line-height: 1.5em;
	color: #666666;
}

.description {
	line-height: 1.5em;
}

/* Agenda */
#agenda table {
	width: 100%;
}

#agenda td {
	background-color: #6E8185;
	color: #EEEEEE;
	padding: .5em;
}

#agenda .time {
	text-align: center;
}

/* Staff */
#staff .group-title {
	font-size: 1.5em;
	font-weight: 400;
}

#staff .staff-card {
	display: inline-block;
	margin: 1.5em .5em;
}

#staff .staff-photo {
	text-align: center;
	width: 100px;
	height: 100px;
}

#staff .staff-photo>img {
	width: 100%;
	height: 100%;
}

#staff .staff-name {
	text-align: center;
}

/* Sponsor */
.sponsor-photo, .sponsor-name {
	width: 33%;
	display: inline-block;
    white-space: nowrap;
    text-align: center;
}
.sponsor-photo > img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
#sponsor {
	margin-bottom: 30px;
}