@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	color: #3C3C3C;
	background-color: #EEEEEE;
	font-size: 16pt;
}

a {
	color: #6EC09E;
}

a:hover {
	color: #49514D;
}

/* General */
.section {
	position: relative;
	padding: 1.5em 10%;
	margin: 0 0 0 calc(5% - .6em);
	border-left: solid .6em #6EC09E;
}

.title{
	text-align: center;
	font-size: 2em;
	font-weight: 500;
	margin: .5em 0;
}

.title::after {
	content: '';
	display: block;
	width: 20vw;
	height: .2vw;
	margin: 1vw auto;
	background-color: #3C3C3C;
}

.subtitle {
	text-align: center;
	font-size: 2em;
	margin-top: 1em;
	font-weight: 400;
}

/* Intro */
#intro {
	padding-top: 4em;
	background-color: #49514D;
	margin: 0;
	height: 80vh;
}

#intro-logo {
	width: 70vh;
	text-align: center;
}
#intro-logo > img {
	max-width: 70vh;
}

#intro-text {
	text-align: center;
	margin: .5em auto;
	width: 100%;
	font-size: 2.5em;
	color: white;
	font-weight: 500;
}

#signup {
	color: #FFFFFF;
	background-color: #6EC09E;
	font-size: 2em;
	line-height: 1.2em;
	position: absolute;
	top: 2.8em;
	left: .8em;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	transform: scale(1);
	transition: transform 300ms;
}

#signup:hover{
	transform: scale(1.25);
}

/* Title */
#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 4em;
	z-index: 1000;
	background-color: #FFFFFF;
}

#logo {
	display: block;
	margin: 0 0 0 calc(5% - 1.1em);
}

#logowrap {
	margin: .5em 0 .5em .5em;
	height: calc(100% - 1em);
	border-left: solid .6em #6EC09E;
}

#logo span {
	font-size: 4em;
	line-height: .67em;
	font-weight: 700;
	margin: 0 .1ch;
	color: #6EC09E;
}

#nav-group {
	width: 100%;
}

#nav-group>.nav {
	color: #000000;
	font-size: 1.25em;
	font-weight: 400;
	display: flex;
	text-align: center;
	vertical-align: middle;
	line-height: 1.2em;
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
	-webkit-align-items: center;
	    -ms-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-justify-content: center;
	        justify-content: center;
	transition: background-color 200ms;
}

.nav:hover {
	background-color: rgba(0,0,0,.2)
}

/* Topic */
#topic {
}

#slogan {
	text-align: center;
	font-style: italic;
	font-size: 1.4em;
	line-height: 1.5em;
	color: #666666;
}

.description {
	line-height: 1.5em;
}

/* Agenda */
#agenda {
	padding-left: 3em;
	padding-right: 3em;
}

#agenda table {
	width: 100%;
}

#agenda td {
	background-color: #6E8185;
	color: #EEEEEE;
	padding: .5em;
	text-align: center;
}

#agenda td[data-agenda-id] {
	cursor: pointer;
}

#agenda .time {
	text-align: center;
	width: 8ch;
	padding: .5em .5ch;
	line-height: 1.25em;
}

#agenda .agenda-name {
	font-size: 1.25em;
	font-weight: 500;
}

#agenda-content {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 2018;
	padding: 2em;
	background-color: #3C3C3C;
	color: #C8C8C8;
	overflow: auto;
}

#agenda-content .wrap {
	padding-bottom: 2em;
}

#agenda-content .padding {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#agenda-content #agenda-exit {
	font-size: 50px;
	position: absolute;
	border-radius: 50%;
	background-color: rgba(0,0,0,.7);
	top: 20px;
	right: 20px;
	height: 70px;
	width: 70px;
	cursor: pointer;
}

#agenda-content #agenda-info {
	-webkit-flex: 2 0 0;
	    -ms-flex: 2 0 0;
	        flex: 2 0 0;
	padding-right: 2ch;
}

#agenda-content #agenda-title {
	font-size: 2.5em;
	font-weight: 600;
}

#agenda-content #agenda-time {
	font-family: monospace;
	font-size: 1em;
	font-weight: 200;
}

#agenda-content #agenda-description {
}

#agenda-content #agenda-speaker {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#agenda-content #agenda-headpic {
	width: 100%;
}

#agenda-content #agenda-headpic>img {
	width: 100%;
}

#agenda-content #agenda-name {
	font-size: 2em;
	font-weight: 500;
}

#agenda-content #agenda-speakerinfo {
}

/* Staff */
#staff .group-title {
	font-size: 1.5em;
	font-weight: 400;
}

#staff .staff-card {
	display: inline-block;
	margin: 1.5em .5em;
}

#staff .staff-photo {
	text-align: center;
	width: 100px;
	height: 100px;
}

#staff .staff-photo>img {
	width: 100%;
	height: 100%;
}

#staff .staff-name {
	text-align: center;
}

/* Sponsor */
.sponsor-card {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

.sponsor-photo {
	height: 30vh;
	padding: 1em;
	display: flex;
	-webkit-align-items: center;
	    -ms-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-justify-content: center;
	        justify-content: center;
}

.sponsor-name {
  white-space: nowrap;
  text-align: center;
	padding-bottom: 2em;
}

.sponsor-photo > img {
	display: block;
	max-height: 100%;
	max-width: 100%;
}
