@media screen and (orientation: portrait) {
	/* General */
	.p-flex {
		display: flex;
	}

	.p-column {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.p-column-r {
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
}

@media screen and (max-width: 900px) {
	body {
		font-size: 2.2vw;
	}

	br.s-show{
		display: initial;
	}

	/* General */
	.s-flex {
		display: flex;
	}

	.s-column {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.s-column-r {
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	.section {
		padding: 1.5em 4%;
	}

	#intro {
		height: 100vh;
	}

	#intro-logo {
		width: 70vw;
	}

	#intro-logo > img {
		max-width: 70vw;
	}

	#agenda {
		padding-left: 1em;
		padding-right: 1em;
	}

	#agenda-content #agenda-exit {
		font-size: 30px;
		top: 10px;
		right: 10px;
		height: 40px;
		width: 40px;
	}

	#agenda-content #agenda-info {
		padding-right: 0;
	}

	.sponsor-photo {
		width: 60vw;
		height: auto;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 4vw;
	}

	#slogan {
		font-size: 1.2em;
	}

	#agenda {
		padding-left: 0;
	}

	#agenda .content {
/*		padding-left: 6ch;*/
		overflow-x: scroll;
		position: relative;
	}

	#agenda table {
	}

	#agenda tbody {
	}

	#agenda tr:not(:first-child) {
		height: 3.75em;
	}
/*
	#agenda .time {
		width: 6ch;
		padding: 0;
		position: absolute;
		left: 0;
		top: auto;
		z-index: 500;
		border-collapse: separate;
	}
*/
	#agenda .A,
	#agenda .B {
		min-width: 70vw;
	}

	#agenda .S {
		min-width: 40vw;
	}

	#staff .staff-card {
		margin: 1em .25em;
		width: calc(25% - 1em);
		font-size: 0.75em;
	}

	#staff .staff-photo {
		width: 100%;
		height: 100%;
	}
}
