body{
	background-color: /*#62A2BA*/#ACF;
}

#navbar{
	position: fixed;
	right:30px;
	bottom:10px;
	flex: 0 0 auto;
	z-index:10;
}
#navbar>.page-button{
	flex: 1 0 0;
	text-align: center;
	margin: 10px;
	padding:0.4em;
	background-color: #F8A13A;
	line-height: 1.05em;
	font-size: 16pt;
	border-radius: 50%;
	transition: all 300ms;
}
#navbar>.page-button:hover{
	transform: scale(1.2);
}

#titlebar{
	position: relative;
	height: 100vh;
	z-index: 20;
}
#titlebg{
	position: absolute;
	width: 100%;
}
#left{
	border-top: 100vh solid #F8A13A;
	border-right: 50vw solid transparent;
	height: 0;
	width: 75%;
}
#right{
	position: absolute;
	right: 0;
	top:0;
	border-bottom: 100vh solid #49514D;
	border-left: 50vw solid transparent;
	height: 0;
	width: 75%;
}
#title{
	position: absolute;
	top:10vmin;
	left:10vmin;
	font-size: 40pt;
}
#title>img{
	width: 40%;
}
#subtitle{
	position: absolute;
	bottom:10vmin;
	right:10vmin;
	text-align: right;
	font-size: 40pt;
	color:white;
}
.pagetitle{
	font-size: 36pt;
	text-align: center;
	font-weight: bold;
}

#intro{

}
#introhead{
	text-align: center;
	font-size: 18pt;
}
#introcontent{
	width: 70%;
	margin: auto auto;
}


#teams{

}
#teams .title{
	font-size: 24pt;
	text-align: center;
}
#teams>.team{
	margin:10px 15%;
	border-radius: 5px;
	background-color: /*#7A6643*/#986;
	padding: 10px;
}
#teams .des{
	display:none;
}

/*LEADERS*/
#leaders{
	padding: 0 10%;
}
.leader{
	margin: 10px 0;
}
.leader.row-rev{
	text-align: right;
}
.headpic{
	height: 30vmin;
	width: 30vmin; /*temporarily*/
	flex:0 0 auto;
	position: relative;
	background-color: #B9B087;
	background-size: cover;
	background-position: center;
}
.headpic>.team{
	position: absolute;
	width: 100%;
	bottom:10%;
	padding: 5px;
	text-align: center;
	color:#FFF;
	font-size: 16pt;
	background-color: rgba(0,0,0,.7);
}
.leaderintro{
	flex: 1 0 0;
	padding: 0 20px;
}
.leaderintro>.name{
	font-size: 24pt;
}
#main-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/15727277_1828300477388588_6060767802767923386_n.jpg?oh=fda12da0dea605b92a1e87e0e76aac46&oe=5AAA8813);
}
#vice-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/15032284_1727139224276981_7827643744299918_n.jpg?oh=f61a8e882c9d784ddbec17c8fb3fb231&oe=5A630E50);
}
#venue-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/20708027_1258807847581677_5614288886892399204_n.jpg?oh=a1e5f1b5a0e1bb9aaf69cb6df6b56005&oe=5A620043);
}
#agenda-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/19553973_1043777015757391_8177644819316054020_n.jpg?oh=58b308d23ebde886ebdfb004cc8126aa&oe=5AAA8F26);
}
#pr-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/12813912_916792865101148_4412410349001668947_n.jpg?oh=00476c015275593dd90fca3af4ae8bb7&oe=5A79CEDD);
}
#record-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t31.0-1/c0.0.1370.1370/21728739_136289950322253_294758793819393330_o.jpg?oh=f7a3022248130c152bcd7abb4bbbdc79&oe=5A7329B8);
}
#finance-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/21034460_678222775716320_7423974169486544294_n.jpg?oh=bd379bae5630bb3e4c23ad99fa114153&oe=5A77ACA4);
}

#signup{
	height: 100vh;
}
#signup>iframe{
	width:100%;
	flex:1 0 0;
}