@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
	background-color: rgb(242, 242, 242);
	font-family: 'Noto Sans TC', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

#titlebar{
	position: relative;
	height: 100vh;
	z-index: 20;
}
#titlebg{
	position: absolute;
	width: 100vw;
	height: 100vh;
}
#left{
	position: absolute;
	left: 0;
	top: 0;
	border-top: 100vh solid #F8A13A;
	border-right: 50vw solid transparent;
	border-bottom:none;
	border-left:none;
	height: 0;
	width: 76vw;
}
#right{
	position: absolute;
	right: 0;
	bottom: 0;
	border-top:none;
	border-right:none;
	border-bottom: 100vh solid #49514D;
	border-left: 50vw solid transparent;
	height: 0;
	width: 75vw;
}
#title{
	position: absolute;
	top:10vmin;
	left:10vmin;
	font-size: 32pt;
	line-height: 56pt;
	color:#191919;
}
#title>img{
	width: 36vw;
	max-width: 320px;
	min-width: 160px;
}
#subtitle{
	position: absolute;
	bottom:10vmin;
	right:10vmin;
	text-align: right;
	font-size: 32pt;
	line-height: 56pt;
	color: #EAEAEA;
}
#subtitle>a{
	font-size:16pt;
	color: #EAEAEA;
}
.pagetitle{
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 28pt;
	text-align: center;
	font-weight: bold;
}

#introcontent{
	align-items:top;
	width: 60%;
	padding: 0;
	margin: auto auto;
}
#introslogan{
	float: left;
	flex: 2 0 0;
	margin: 0;
	padding: 0 25px 25px 25px;
	font-size: 18pt;
	font-style: italic;
	color: #5b5b5b;
}
#introtext{
	float: left;
	flex:3 0 0;
	margin: 0;
}
@media (max-width: 992px) {
	#introcontent{
		display: block;
	}
	#introslogan{
		width: 100%;
	}
	#introtext{
		width: 100%;
	}
}
.teams{
	width: 60%;
	margin: 0 auto;
}
.teams .title{
	font-size: 24pt;
	text-align: center;
}
.teams>.team{
	flex: 1 0 0;
	margin: 20px;
	border-radius: 5px;
	color: #eaeaea;
	background-color: #3C3C3C;
	padding: 10px;
	transition: all 300ms;
}
.teams>.team:hover{
	background-color:#888; 
}
.teams .des{
	display:none;
}

/*LEADERS*/
#leaders{
	width: 60%;
	margin:0 auto;
}
.leader{
	margin: 10px 0;
}
.leader.row-rev{
	text-align: right;
}
.headpic{
	height: 30vmin;
	width: 30vmin; /*temporarily*/
	flex:0 0 auto;
	position: relative;
	background-color: #B9B087;
	background-size: cover;
	background-position: center;
}
.headpic>.team_lable{
	position: absolute;
	width: 100%;
	bottom:10%;
	padding: 5px;
	text-align: center;
	color:#FFF;
	font-size: 16pt;
	background-color: rgba(0,0,0,.7);
}
.leaderintro{
	flex: 1 0 0;
	padding: 0 20px;
}
.leaderintro>.name{
	font-size: 24pt;
	line-height: 1em;
	margin-bottom: 0.5em;
}
#main-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/15727277_1828300477388588_6060767802767923386_n.jpg?oh=fda12da0dea605b92a1e87e0e76aac46&oe=5AAA8813);
}
#vice-leader>.headpic{
	background-image: url(vice_headpic.jpg);
}
#venue-leader>.headpic{
	background-image: url(venue_headpic.jpg);
}
#agenda-leader>.headpic{
	background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/19553973_1043777015757391_8177644819316054020_n.jpg?oh=58b308d23ebde886ebdfb004cc8126aa&oe=5AAA8F26);
}
#pr-leader>.headpic{
	background-image: url(pr_headpic.jpg);
}
#record-leader>.headpic{
	background-image: url(record_headpic.jpg);
}
#finance-leader>.headpic{
	background-image: url(finance_headpic.jpg);
}

#signup{
	width: 200px;
	margin: 50px auto;
}
#signup>a{
	padding: 5px;
	margin: 10px;
	text-align: center;
	border-radius: 5px;
	background-color:#49514D; 
	color:white;
	transition: all 300ms;
}

#signup>a:hover{
	background-color:#888; 
}

.swal2-modal li,.swal2-modal p{
	text-align: left!important;
}
.swal2-modal{
	width: 90% !important;
	max-height: 90% !important;
	padding: 20px !important;
}

@media (max-width: 1200px){
#introcontent,.teams,#leaders{
	width: 70%;
}
}

@media (max-width: 992px){
#introcontent,.teams,#leaders{
	width: 80%;
}
}

@media (max-width: 640px){
#introcontent,.teams,#leaders{
	width: 90%;
}
#title,#subtitle{
	font-size: 28pt;
	line-height: 40pt;
}
}
@media (max-width: 480px){
#title,#subtitle{
	font-size: 24pt;
	line-height: 36pt;
}
.pagetitle{
	font-size: 20pt;
}
#introslogan{
	font-size: 14pt;
}
.teams .title{
	font-size: 16pt;
}
.teams .team{
	margin:10px;
}
.leader .team_lable{
	font-size: 12pt;
	line-height: 1em;	
}
.leaderintro>.name{
	font-size: 16pt;
}
}
@media(orientation: portrait){
#left{
	border-top:none;
	border-right:none;
	border-left: 100vw solid #F8A13A;
	border-bottom: 50vh solid transparent;
	width: 0;
	height: 80vh;
}
#right{
	border-right: 100vw solid #49514D;
	border-top: 50vh solid transparent;
	border-bottom:none;
	border-left:none;
	width: 0;
	height: 75vh;
}
.leader{
	flex-direction: column;
}
.leaderintro{
	padding: 0;
	position: relative;
}
.leader.row .name{
	position: absolute;
	top: -1em;
	left:32vmin;
}
.leader.row-rev .name{
	position: absolute;
	top: -1.1em;
	right: 32vmin;
}
.leader.row-rev>.headpic{
	align-self: flex-end;
}
}