html *{
	box-sizing: border-box;
}
body{
	margin:0;
	font-size: 12pt;
	font-family: sans-serif;
	position:relative;
}
a{
	text-decoration: none;
	color: black;
}
p{
	-webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
}
.flex{
	display:flex;
}
.iflex{
	display: inline-flex;
}
.wrap{
	flex-wrap: wrap;
}
.column{
	flex-direction:column;
}
.row{
	flex-direction:row;
}
.row-rev{
	flex-direction:row-reverse;
}
.fullscreen{
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
}
.center{
	align-items: center;
	justify-content: center;
}