#titlebar{
	flex: 1 0 0;
}
#logo{
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 10px;
}
#navbar{
	flex: 0 0 auto;
}
#navbar>.page-button{
	flex: 1 0 0;
	text-align: center;
	padding: 10px;
}
#content{
	flex: 3 0 0;
	overflow-x: hidden;
}
#scroll-wrapper{
	width: 400%;
	height: 100%;
	position: relative;
	transition: left 800ms;
	left:0%;
}
.page{
	flex: 1 0 0;
	overflow-y: auto;
}
.leader{
	height: 40vmin;
}
.headpic{
	width: 40vmin; /*temporarily*/
	flex:0 0 auto;
}
.leaderintro{
	flex: 1 0 0;
}
#signup{
	overflow-y: hidden
}