/*TITLEBAR*/
#titlebar{
	flex: 1 0 0;
	position: relative;
	transition: flex 300ms;
}
/*#titlebar:hover{
	flex: 3 0 0;
}*/
#logobar{
	flex: 1 0 0;
}
#logo{
	position: absolute;
	top: 30px;
	left: 30px;
	height: 60px;
	width: 130px;
	background-image: url('logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	filter: drop-shadow(0px 0px 10px black);
}
.titlepic{
	position: absolute;
	width: 100%;
	height: 100%;
}
#titlepic1{
	background-image: url('top1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*NAVBAR*/
#navbar{
	flex: 0 0 auto;
	z-index:10;
}
#navbar>.page-button{
	flex: 1 0 0;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
	background-color: #ACF

}
#content{
	flex: 2 0 0;
	overflow-x: hidden;
	background-color: #FFA;
}
#scroll-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	transition: left 800ms;
	left:0%;
}

/*PAGES*/
.page{
	position: absolute;
	top:0;
	width:100%;
	height: 100%;
	overflow-y: auto;
	padding: 10px 20px;
}
#teams{left:100%;}
#leaders{left:200%;}
#signup{left:300%;}

/*INTRO*/
#introhead{
	text-align: center;
}
#introcontent{
	font-size: 12pt;
	width: 70%;
	margin: auto auto;
}

/*TEAM*/
#teams>*{
	width:calc(100% / 3);
	flex: 0 0 50%;
}

/*LEADERS*/
.leader{
	height: 40vmin;
}
.headpic{
	width: 40vmin; /*temporarily*/
	flex:0 0 auto;
	position: relative;
	background-color: #840;
}
.headpic>.team{
	position: absolute;
	width: 100%;
	bottom:10%;
	text-align: center;
	color:#FFF;
	text-shadow: black 0 0 15px;
}
.leaderintro{
	flex: 1 0 0;
	padding: 0 20px;
}



/*SIGNUP*/
#signup{
	overflow: hidden;
	height: 100%;
	padding: 0;
}