body{
	margin:0;
	width:100vw;
	height:100vh;
	font-size: 20pt;
}
html *{box-sizing: border-box;}
.flex{display:flex;}
.column{flex-direction:column;}
.row{flex-direction:row;}
.row-rev{flex-direction:row-reverse;}
html *::-webkit-scrollbar {
	width:12px;
	position: absolute;
}
html *::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.7);
	border-radius: 100px;
}