/* Fonts */
body {
	font-family: 'Noto Sans',
	             'Microsoft JhengHei',
	             sans-serif;
	color: #000000;
}

/* General */
.page {
	position: relative;
}

.title{
	text-align: center;
	font-size: 2.5em;
}

#title {
	height: 40vw;
	min-height: 40vh;
	max-height: 100vh;
	background-color: #FFFFFF;
}

#intro {
	padding: 5vw 15vw;
	background-color: #6E8185;
	color: #FFFFFF;
}

#paper {
	margin: 0 4vw;
	height: 50vw;
	padding: 3vw 3vw;
	background-color: #52CBC9;
}

#paper::after {
	content: '////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////';
	display: block;
	width: calc(100% - 2vw);
	margin: 0 1vw;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: -1em;
	font-size: .7em;
	z-index: 50;
	text-align: center;
}

#booth {
	margin: 0 4vw 4vw 4vw;
	height: 50vw;
	padding: 4vw 3vw 3vw 3vw;
	background-color: #52CBC9;
	border-bottom-left-radius: 2vw;
	border-bottom-right-radius: 2vw;
}

#booth::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -2vw;
	width: 100%;
	height: 1px;
	background-color: #CCCCCC;
}

/* Title */
#title #logo {
	margin-right: 2vw;
	width: 15vw;
	height: 15vw;
	overflow: hidden;
	border-radius: 50%;
	background-color: #68C7D5;
}

#title #logo>img {
	width: 100%;
	height: 100%;
}

#title .text {
	justify-content: center;
}

#title #infas {
	margin-right: 1vw;
	font-size: 4em;
	line-height: 1.5em;
}

#title #cfpb {
	font-size: 2em;
	line-height: 1.5em;
}

#title #theme {
	font-size: 1.5em;
	line-height: 2em;
}

/* Intro */
#intro .title {
	color: #FFFFFF;
}

#intro .title::after {
	content: '';
	display: block;
	width: 4vw;
	height: .3vw;
	margin: 3vw auto;
	background-color: #FFFFFF;	
}

#intro #slogan {
	text-align: center;	
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #CCCCCC;
}

#intro .description {
	line-height: 1.5em;
}

/* Paper & Booth */
#paper .photo,
#booth .photo {
	flex: 5.5 0 0;
}

#paper .content,
#booth .content {
	flex: 4.5 0 0;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw 1.5vw 2vw;
}

#paper .title,
#booth .title {
	letter-spacing: .3ch;
	line-height: 1.5em;
}

#paper .button,
#booth .button {
	padding: 1vw 4vw;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.5em;
	border-radius: calc(1em + 2vw);
	color: #FFFFFF;
	cursor: pointer;
}

#paper .description,
#booth .description {
	line-height: 1.5em;
}

#paper .monitor,
#booth .monitor {
	width: 100%;
	height: 35vw;
	padding: 2vw 3vw;
	background-color: #3A5D59;
	border-radius: 1vw;
}

#paper .screen,
#booth .screen {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#paper .base,
#booth .base {
	width: 20vw;
	height: 8vw;
	background-image: url('base.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}

#paper .red {
	color: #ED4040;
}

#paper .button {
	background-color: #ED4040;
}

#booth .blue {
	color: #5369B1;
}

#booth .button {
	background-color: #5369B1;
}

#paper .screen {
/*	background-image: url('');*/
}

#booth .screen {
/*	background-image: url('');*/
}