/* layout */
@media (orientation: portrait), (max-width: 850px) {
	/* General */
	.s-flex {
		display: flex;
	}

	.s-column {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.s-column-r {
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	/* Intro */
	#intro {
		padding: 5vw 5vw; 
	}

	/* Title */
	#title #infas {
		line-height: 1.25em;
	}

	#title #cfpb {
		line-height: 2em;
	}

	#title #theme {
		line-height: 2em;
	}

	/* Paper & Booth */
	#paper, #booth {
		height: auto;
	}

	#paper .title,
	#booth .title {
		margin-top: 2vw;
	}

	#paper .content,
	#booth .content {
		-webkit-flex: 0 0 auto;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
	}

	#paper .photo,
	#booth .photo {
		-webkit-flex: 0 0 auto;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		margin-top: 4vw;
	}
}

@media (orientation: portrait) {
	/* General */
	.p-flex {
		display: flex;
	}

	.p-column {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.p-column-r {
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	/* Title */
	#title {
		height: 120vw;
		max-height: 100vh;
	}

	#title #logo{
		margin: 0;
	}

	#title>.text {
		text-align: center;
		margin-top: 5vw;
	}

	#title #infas {
		margin: 0;
	}

	/* Paper & Booth */
	#paper .monitor,
	#booth .monitor {
		width: 100%;
		height: 50vw;
	}
}

@media (orientation: landscape) and (max-width: 850px) {
	/* Title */
	#title {
		height: 45vw;
		min-height: auto;
		max-height: none;
	}

	/* Paper & Booth */
	#paper .monitor,
	#booth .monitor {
		height: 35vw;
		width: 50vw;
	}

	#title #logo {
		max-width: 30vw;
		max-height: 30vw;
	}
}

/* font size */
@media (min-width: 1200px) {
	body {
		font-size: 14pt;
	}
}

@media (max-width: 850px) {
	body {
		font-size: 2.2vw;
	}

	.description{
		letter-spacing: .1ch;
	}

	br.s-show{
		display: initial;
	}
}

@media (max-width: 480px) {
	body {
		font-size: 3.3vw;
	}
}