@media (orientation: portrait), (max-width: 900px) {
	/* General */
	body{
		font-size: 2.5vw;
	}

	.s-flex {
		display: flex;
	}

	.s-column {
		flex-direction: column;
	}

	.s-column-r {
		flex-direction: column-reverse;
	}

	/* Intro */
	#intro #slogan {
		font-size: 1.3em;
	}

	#intro .description {
		font-size: 1.1em;
	}

	/* Paper & Booth */
	#paper, #booth {
		height: auto;
	}

	#paper .title,
	#booth .title {
		margin-top: 2vw;
	}

	#paper .content,
	#booth .content {
		flex: 0 0 auto;
	}

	#paper .description,
	#booth .description {
		font-size: 1.2em;
	}

	#paper .photo,
	#booth .photo {
		flex: 0 0 auto;
		margin-top: 4vw;
	}
}

@media (orientation: portrait){
	/* General */
	body{
		font-size: 2.5vw;
	}

	.p-flex {
		display: flex;
	}

	.p-column {
		flex-direction: column;
	}

	.p-column-r {
		flex-direction: column-reverse;
	}

	/* Title */
	#title {
		height: 120vw;
		max-height: 100vh;
	}

	#title>.text {
		text-align: center;
		margin-top: 5vw;
	}

	#title #infas {
		margin: 0;
	}

	#title #logo {
		width: 50vw;
		height: 50vw;
		margin: 0;
	}

	/* Intro */
	#intro {
		padding: 15vw 8vw; 
	}

	/* Paper & Booth */
	#paper, #booth {
		height: auto;
	}

	#paper .content,
	#booth .content {
		flex: 0 0 auto;
	}

	#paper .photo,
	#booth .photo {
		flex: 0 0 auto;
		margin-top: 4vw;
	}

	#paper .monitor,
	#booth .monitor {
		height: 50vw;
	}
}

@media (orientation: landscape) and (max-width: 900px) {
	/* Title */
	#title {
		height: 100vh;
		min-height: 300px;
	}

	#title #logo {
		width: 35vw;
		height: 35vw;
	}

	/* Paper & Booth */
	#paper .monitor,
	#booth .monitor {
		height: 35vw;
		width: 50vw;
	}
}
