@media (orientation: portrait) {

/* General */
body{
	font-size: 3vw;
}

.m-flex {
	display: flex;
}

.m-column {
	flex-direction: column;
}

.m-column-r {
	flex-direction: column-reverse;
}

.m-row {
	flex-direction: row;
}

.m-center {
	align-items: center;
	justify-content: center;
}

/* Title */
#title {
	height: 130vw;
	min-height: 50vh;
	max-height: 100vh;
}

#title>.text {
	text-align: center;
}

#title #infas {
	margin: 0;
}

#title #logo {
	width: 50vw;
	height: 50vw;
	margin: 0;
}

/* Intro */
#intro {
	padding: 15vw 8vw; 
}

#intro #slogan {
	font-size: 1.25em;
}

/* Paper & Booth */
#paper, #booth {
	height: auto;
}

#paper .title,
#booth .title {
	margin-top: 2vw;
}

#paper .content,
#booth .content {
	flex: 0 0 auto;
}

#paper .photo,
#booth .photo {
	flex: 0 0 auto;
	margin-top: 5vw;
}

#paper .monitor,
#booth .monitor {
	height: 50vw;
}

}